body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #e4e4ee;
}

.container {
  margin-left: 2em;
  padding: 22px;
  background: #cbcbff;
  border-radius: 10px;
  box-shadow: 13px 13px 20px #afafb1, -13px -13px 20px #ffffff;
}

.display #screen {
  margin-bottom: 0.7em;
  width: auto;
  height: 70px;
  font-size: 35px;
  outline: none;
  border: none;
  text-align: right;
  padding-right: 0.5em;
  background: #ebf559;
  border-radius: 6px;
  box-shadow: inset 8px 8px 8px #cfcf2a, inset -8px -8px 8px #fff895;
}

.row button {
  width: 60px;
  height: 30px;
  font-size: 18px;
  border: none;
  outline: none;
  margin: 5px;
  border-radius: 4px;
  transition: 0.1s;
  background: #fcb636;
  box-shadow: 3px 3px 5px #a56b2020, -3px -3px 5px #d4d8fd;
}

.row button:hover {
  box-shadow: inset 3px 3px 5px #cc831d, inset -3px -3px 5px #f1a728;
}

#eval {
  width: 135px;
  font-size: 1.3rem;
  background: #66d9ff;
  color: #000;
  box-shadow: inset 3px 3px 5px #66d9ff, inset -3px -3px 5px #00ace6;
}

#eval:hover {
  box-shadow: inset 3px 3px 5px #00ace6, inset -3px -3px 5px #00ace6;
}

#ac {
  background: #44e644;
  color: #fff;
}

#ac:hover {
  box-shadow: inset 3px 3px 5px #2eb82e, inset -3px -3px 5px #33cc33;
}

#ce {
  background: #ff23cf;
  color: #fff;
}

#ce:hover {
  box-shadow: inset 3px 3px 5px #e60073, inset -3px -3px 5px #ff3399;
}
